@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');



/* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} */


/* ----------- first section ----------------- */

.first_section{
    height: 35px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
}


/* ------------- navbar --------------- */

#second_section{
    position: sticky;
    top: 0px;
    z-index: 15;
}

#nav{
    height: 50px;
}

#list{
    color: black;
    font-weight: 600;
    font-size: small;
}
#list:hover{
    color: blue;
}

#singin{
    border-radius: 30px;
    width: 110px;
    height: 40px;
    background-color: #005499;
}
#singin:hover{
    background-color: #00439C;
}


/* -----------grid system-------------- */

.container .row .col img{   
    border-radius: 8px;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.4s ease-out ;
}
.container .row .col img:hover{
    transform: translateY(-12px);
    opacity: 1;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* ---------------banner------------ */

.banner{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.banner_left{
    /* width: 40%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;   
    padding-left: 120px;
}
.banner_left h2{
    font-size: 49px;
    font-weight: 320;
}
.banner_left h4{
    font-size: 25px;
    font-weight: 350;
    color: #00439C;
}
.banner_left p{
    font-size: 15px;
}
.btn-group .btn{
    border-radius: 30px; 
    height: 40px;  
}
#more{
    background-color: #005499;
    color: white;
    cursor: pointer;
    transition: 0.5s ease-out ;
}
#more:hover{
    transform: translateY(-8px);
}
#buy{
    transition: 0.5s ease-out ;
}
#buy:hover{
    transform: translateY(-8px);
}
span{
    font-weight: 700;
}
.banner_right{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_right img{
    height: 80%;
    width: 80%;
    transition: 0.8s ease-out ;
}
.banner_right img:hover{
    transform: scale(1.05);
}


@media (max-width:836px) {
    .banner{
        display: flex;
        flex-direction: column-reverse;
    }
    .banner_left{
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .banner_right{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    /* .banner_right img{
        height: 100%;
        width: 100%;
        padding: 20px;
    } */
    .banner_left h2{
        font-size: 35px;
    }
}



/* -----------gutters-------------- */

.gutter img{
    border-radius: 12px; 
    cursor: pointer;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.8;
    transition: 0.5s ease-in-out ;
}
.gutter img:hover{
    outline: #00439C 2px solid;
    box-shadow: 3px 8px 8px 3px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
    transform: scale(1.10);
}  
.gutter p{
    font-size: 14px;
    line-height: 70px;
    cursor: pointer;
    font-size: 17px;
}
.gutter p:hover{
    color: #005499;
}


/* ---------gutter 2------------- */

/* .h1{
    font-size: 29px;
    font-weight: 300;
} */
.gutter_two img{
    font-size: 15px;
}
#left{
    width: 130px;
    height: 50px;
    background-color: whitesmoke;
    color: rgb(13, 13, 13);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    transition: 0.3s ease-out ;
}
#left:hover{
    font-weight: 700;
    font-size: 16px;
}
#right{
    width: 130px;
    height: 50px;
    background-color: rgba(40, 40, 44, 0.458);
    color: whitesmoke;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s ease-out ;
}
#right:hover{
    font-weight: 700;
    font-size: 16px;
}
.gutter_two img{
    border-radius: 13px;
    cursor: pointer;  
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.7;
    transition: 0.6s ease-in-out ;
}
.gutter_two img:hover{
    box-shadow: 3px 8px 8px 3px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
    transform: scale(1.05);
}
.gutter_two p{
    font-size: small;
    font-weight: 400;
    text-align: start;
    padding-left: 10px;
    /* line-height: 35px; */
}



/* ---------------playstation store------------ */

.store{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.store_left{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;   
    padding-left: 120px;
}
.store_left h2{
    font-size: 49px;
    font-weight: 350;
}
.store_left p{
    font-size: 15px;
}
#danger{
    border-radius: 30px; 
    height: 40px; 
    width: 130px; 
    transition: 0.5s ease-out ;
}
#danger:hover{
    transform: translateX(10px);
}
.store_right{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.store_right img{
    height: 80%;
    width: 80%;
    border-radius: 13px;
    transition: 0.8s ease-out ;
}
.store_right img:hover{
    transform: scale(1.05);
}

@media (max-width:836px) {
    .store{
        display: flex;
        flex-direction: column-reverse;
    }
    .store_left{
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .store_right{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .store_left h2{
        font-size: 39px;
    }
}


/* ------------purchase---------- */

.purchase_store h2{
    font-size: 49px;
    font-weight: 320;
}
.purchase_store p{
    font-size: 15px;
}
.purchase_store .purchase{
    border-radius: 10px;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}
.purchase_store .purchase img{
    cursor: pointer;
    transition: 0.5s ease-out ;
}
.purchase_store .purchase img:hover{
    transform: scale(1.09);  
}
.purchase_store .purchase p{
    cursor: pointer;
    font-weight: 520;  
}
#shop{
    border-radius: 30px; 
    height: 40px; 
    width: 130px; 
    margin-top: 30px;
    transition: 0.5s ease-out ;
}
#shop:hover{
    transform: translateY(10px);
}
#collection{
    background-color: #00439C;
    color: white;
    border-radius: 30px; 
    height: 40px; 
    width: 190px; 
    margin-top: 30px;
    transition: 0.5s ease-out ;
}
#collection:hover{
    transform: translateY(10px);
}


/* ------------cards----------- */

.card{
    line-height: 25px;
    cursor: pointer;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    transition: 0.5s ease-out;
}
.card:hover{
    transform: scale(1.03);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}
#card_heading{
    text-align: center;
    font-size: 49px;
    font-weight: 320;
}
.card img{
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s ease-out;
}
.card img:hover{
    transform: scale(1.03);
    border-radius: 13px;
}
.card h5{
    /* font-size: 49px; */
    font-weight: 500;
    font-size: larger;
    cursor: pointer;
}
.card p{
    padding-top: 20px;
    font-size: 15px;
    cursor: pointer;
}


/* ----------follw heading----------- */

#follow_section{
    padding: 100px;
}
#follow_heading{
    text-align: center;
    font-size: 49px;
    font-weight: 320; 
    /* padding-top: 20px; */
    padding-bottom: 50px;
}
#social{
    height: 100px;
    width: 100px;
   
}



/* --------------------- */



/* hr{
    color: white;
} */

section div h6{
    color: white;
}
section div p{
    color: white;
}